@import "personal-text/about__personal-text.css";
@import "pg-text/about__pg-text.css";

.about {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 3% 0 5% 0;
    height: auto;
}