@import "neon-text/header_neon-text.css";
@import "sticky/header_sticky.css";

.header {
    z-index: 100;
    font-size: 35px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


@media screen and (max-width: 1200px) {
    .header{
        justify-content: center;
    }
}
