html {
    scroll-behavior: smooth;
}

body {
    animation: shows 2.5s forwards;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
}

.minimal-header {
    font-size: 35px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-navbar {
    padding-right: 10%;
}

.logo {
    padding-left: 10%;
    animation: flicker 1.5s infinite alternate;
    font-size: 35px;
    font-weight: bold;
}


.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Flickering animation */
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;

    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

@keyframes shows {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about-block {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 60vh;
}

.projects-block {
    color: white;
    display: flex;
    height: 60vh;
}

.experience-block {
    color: white;
    display: flex;
    height: 60vh;
}

.contact-block {
    color: white;
    display: flex;
    height: 60vh;
}

.sticky {
    position: sticky;
    top: 0;
}

.pseudograpic-text {
    font-size: 15px;
    padding-left: 5%;
    color: #67E691;
    text-shadow: 0 0 7px #fff,
    0 0 10px #67E691
}

.about-text {
    padding-right: 10%;
    font-size: 30px;
    text-align: right;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin: 15px;
}


