html {
    scroll-behavior: smooth;
}

body {
    animation: shows 2.5s forwards;
    background-color: #13111F;
    font-family: monospace;
    font-size: 20px;
}

.paral {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.paral::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("images/animals-ascii-art-hd-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.paral-content {
    position: relative;
    z-index: 1;
    padding: 20px; /* Adjust padding as needed */
}

.minimal-header {
    z-index: 100;
    font-size: 35px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-navbar {
    padding-right: 10%;
}

.logo {
    padding-left: 10%;
    animation: flicker 1.5s infinite alternate;
    font-size: 35px;
    font-weight: bold;
}


.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Flickering animation */
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;

    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

@keyframes shows {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about-block {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 80vh;
}

.projects-block {
    color: white;
    display: flex;
    height: 80vh;
}

.experience-block {
    color: white;
    display: flex;
    height: 80vh;
}

.contact-block {
    color: white;
    display: flex;
    height: 60vh;
}

.sticky {
    position: sticky;
    top: 0;
}

.pseudograpic-text {
    font-size: 15px;
    padding-left: 5%;
    color: #67E691;
    text-shadow: 0 0 7px #fff,
    0 0 10px #67E691
}

.about-text {
    padding-right: 10%;
    font-size: 30px;
    text-align: right;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin: 15px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .about-text {
        display: none;
    }

    .header-navbar {
        padding-right: 5%;
    }

    .logo {
        padding-left: 5%;
    }

    nav ul {
        flex-wrap: wrap;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}