@import "start-time/timeline__start-time.css";
@import "end-time/timeline__end-time.css";
@import "description-box/timeline__description-box.css";
@import "arrow/timeline_arrow.css";

.timeline {
    height: auto;
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}