@import "company/timeline__description-box__company.css";
@import "descriprion/timeline__description-box__description.css";
@import "item/timeline__description-box__item.css";
@import "list/timeline__description-box__list.css";
@import "pos/timeline__description-box__pos.css";

.timeline__description-box {
    border: 3px solid white;
    border-radius: 100px;
    box-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 60px #0fa;
    margin-right: 30%;
    margin-left: 30%;
}